<div class="main">
    <div class="top">
        <div class="txtMain">
            <h1>CONTACT US</h1>
            <h5>Have any unanswered questions or want to sell us some products! <br>
                Send us an email!</h5>
        </div>
        <div class="emailBtn">
            <button><a href="mailto:luis.calderon@only-pokies.com"><img src="https://i.imgur.com/Hkr8OCl.png" alt="">Send me an email</a></button>
        </div>
    </div>
    <ul>
        <li><a routerLink="home">HOME</a></li>
        <li><a routerLink="products" href="">PRODUCTS</a></li>
        <li><a href="">CONTACT US</a></li>
    </ul>
    <p>Copyright 2022 Only Pokies. All rights Reserved.</p>
</div>