<div class="main">
    <div class="containers">
        <div class="mainMessge">
            <h1>THE NUMBER ONE PLACE TO PURCHASE CARDS!</h1>
        </div>
        <div class="btns">
            <button><a routerLink="" >SHOP GRADED CARDS</a></button>
            <button><a routerLink="" >SHOP RAW CARDS</a></button>
        </div>
    </div>
    <div class="rawCards">
        <div class="textInfo">
            <h3>VINTAGE TO MODERN</h3>
            <h5>WETHER YOU ARE LOOKING FOR THE LASTEST CARD
                OR YOU ARE LOOKING FOR A VINTAGE SINGLE TO 
                COMPLETE A MASTER SET 
                ONLYPOKIES HAS YOU COVERED</h5>
        </div>
        <div class="rawBtns">
            <button><a href="">FIND VINTAGE RAW CARDS</a></button>
            <button><a href="">FIND MODERN RAW CARDS</a></button>
        </div>
    </div>
</div>