<!-- <nav class="navbar-sidebar">
  <ul class="categoryList">
    <li *ngFor="let tempProductCategory of productCategories">
      <a
        routerLink="/category/{{ tempProductCategory.id }}"
        routerLinkActive="active-link"
        >{{ tempProductCategory.categoryName }}</a
      >
    </li>
  </ul>
</nav> -->
<div class="filters">
  <div class="input-group mb-3 no-top-margin filter">
    <select #cat (change)="changePage(cat.value)" class="form-select" >
      <option value="/products">FILTER BY SET</option>
      <option value="/category/{{ tempProductCategory.id }}" *ngFor="let tempProductCategory of productCategories">{{ tempProductCategory.categoryName }}</option>
    </select>
  </div>
  <app-search></app-search>
</div>