<div class="main-content">
  <app-product-category-menu></app-product-category-menu>
  <div class="">
    <div class="">
      <div class="product-lists">
        <div class="card-holder" *ngFor="let tempProduct of products" >
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{tempProduct.name}}</mat-card-title>
              <mat-card-subtitle>{{tempProduct.setName}}</mat-card-subtitle>
            </mat-card-header>
            <a routerLink="/products/ {{tempProduct.id}}"><img src="{{tempProduct.imageUrl}}" class="" mat-card-image></a>
            <mat-card-content>
              <h4>{{ tempProduct.unitPrice | currency : "USD" }}</h4>
              <mat-card-actions ><button (click)="addToCart(tempProduct)" mat-raised-button class="addToCart" >Add to Cart</button></mat-card-actions>
            </mat-card-content>
            
          </mat-card>
        </div>
        
        
        <!-- <div *ngFor="let tempProduct of products" class="col-md-3">
          <div class="product-box">
            <a{{ tempProduct.id }}"
              ><img
                src="{{ tempProduct.imageUrl }}"
                class="img-responsive"
                alt=""
            /></a>
            <a routerLink="/products/{{ tempProduct.id }}"
              ><h1>{{ tempProduct.name }}</h1></a
            >
            <div class="price">
              {{ tempProduct.unitPrice | currency : "USD" }}
            </div>
            <button class="btn btn-primary btn-sm" (click)="addToCart(tempProduct)" >Add to cart</button>
          </div>
        </div> -->

        
      </div>
      <div
      *ngIf="products?.length == 0"
      class="alert alert-warning col-md-12"
      role="alert"
    >
      No Products found
    </div>
      <!-- Footer -->
      <div class="footer-pagination">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9" style="padding-left: 30%">
                <ngb-pagination
                  [(page)]="thePageNumber"
                  [pageSize]="thePageSize"
                  [collectionSize]="theTotalElements"
                  [maxSize]="5"
                  [boundaryLinks]="true"
                  (pageChange)="listProducts()"
                >
                </ngb-pagination>
              </div>
              <div class="col-md-3 md-2" style="text-align: right">
                <span class="mr-2"
                  >Page Size
                  <select #myPageSelected (change)="updatePageSize(myPageSelected.value)">
                    <option>2</option>
                    <option >5</option>
                    <option selected="true">12</option>
                    <option>24</option>
                    <option>30</option>
                  </select>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
